<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
    <header>
        <h1>
            About Website
        </h1>
    </header>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat odit exercitationem, tempore recusandae veritatis sunt aspernatur expedita at neque temporibus facilis nobis laboriosam facere eos voluptate pariatur asperiores excepturi vel officiis. Repellat fugit vel veritatis in rem. Repellat aliquid accusamus accusantium dignissimos fugit, nostrum facere minima ducimus deserunt. Obcaecati qui debitis architecto tenetur recusandae, nulla similique pariatur aut. Exercitationem iste tempore sint repudiandae eligendi, soluta similique beatae dignissimos iure voluptatibus nobis amet, expedita molestiae quam fugit ipsum molestias doloribus nulla magni ut totam possimus recusandae? Sapiente architecto molestias ad a, distinctio maiores enim impedit, nemo doloremque doloribus mollitia. Asperiores, fugiat.
    </p>
    <br>
    <a href="{% url 'home' %}">Go Back</a>

</body>
</html>